<!DOCTYPE html>
<head>
    <title>Airsoftgear</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="styles/desktop.css">
    <link rel="stylesheet" href="styles/mobile.css" media="screen and (max-width: 1024px)">
     
</head>

<body class="body"> 
    <div class="main-layout">
        
        <%- include(`partials/header`); %>
        
        <div class="grid-item" title="categories" id="categories">
            <% for(let category of categories) {%>
                <a class="link" href="/home/getProducts/:<%=category.id%>">
                    <button class="category"><%=category.name%></button>
                </a>
            <%}%>
        </div>
            
        <div class="grid-item" title="shop-img" id="shop-img">
            <img src="images/background/sniper.jpg" class="background_img"/>
            <p class="greeting">Welcome to the home of Airsoft!</p>
        </div>
            
        <%- include(`partials/footer`); %>
        
        <div class="grid-item" title="products" id="products">
            <% for(let product of products) {%>
                <div class="product">
                    <div class="prod-img-cont">
                        <img src=<%=product.image%> class="product-img">
                        <!-- <img src="images/icons/shopping-cart.png" class="shopping-cart-add"> -->
                        <form method="post" action="/home/getProducts/:<%=current_category.id%>">
                            <input type="hidden" name="add_product" value="<%=product.name.replace(' ', '_')%>"/>
                            <input type="image" src="images/icons/shopping-cart.png" class="shopping-cart-add" alt="Add to cart"/>
                        </form>
                    </div>
                    <div class="product-info">
                        <h1 class="product-name"><%=product.name%></h1>
                        <h1 class="category-name"><%=current_category.name%></h1>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
    
</body>